#requiredImageWrapper {
    display: block;
    width: 1000px;
    height: 250px;
}

#img_requiredImage {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 60px;
    left: 400px;
    border-radius: 20px;
    cursor: not-allowed;
}