@font-face {
  font-family: lobster;
  src: url("./assets/Lobster\ 1.4.otf");
}


body {
  margin: auto;
  width: 1000px ;
  height: 600px;
  background-color:papayawhip; 
  
}

.buttons {
  font-family: "lobster";
  position: relative;
  width: 100px;
  color: darkolivegreen;
  background-color: papayawhip;
  border: 2px solid gray;
  cursor: pointer;
  padding: 10px;
}

.buttons:hover {
  background-color: gray;
}

