#offeredImagesWrapper {
    display: block;
    width: 1000px;
    height: 150px;
    position: relative;
    bottom: 50px;
}

.offeredImages {
    width: 100px;
    height: 100px;
    position: relative; 
    top: 25px;
    border-radius: 20px;
    cursor: pointer;
}

#img_offeredImage1 {
    left: 150px;
}

#img_offeredImage2 {
    left: 200px;
}

#img_offeredImage3 {
    left: 250px;
}

#img_offeredImage4 {
    left: 300px;
}

#img_offeredImage5 {
    left: 350px;
} 